*{
	font-family: sans-serif;
	list-style: none;
	padding: 0;
}
body{
  background: url(./images/bg.jpg) no-repeat;
  margin-left:-2px;
  margin-top:-60px;
}


.skills{
	width: 500px;
	margin: 60px auto;
	color: white;
}
.skills li{
	margin: 20px 0;
}
.bar{
	background: #353b48;
	display: block;
	height: 2px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 10px #2187e7b3;
}
.bar span{
   height: 2px;
   float: left;
   background: #2187e7;
}
.html{
	width: 90%;
	animation: html 2s;
}
.css{
	width: 90%;
	animation: css 2s;
}
.java{
	width: 40%;
	animation: java 2s;
}
@keyframes html {
	0%{
		width: 0%;
	}
	100% {
		width: 90%;
	}
}	
@keyframes css {
	0%{
		width: 0%;
	}
	100% {
		width: 90%;
	}
}
@keyframes java {
	0%{
		width: 0%;
	}
	100% {
		width: 40%;
	}
}

	

.nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}
.nav {
    position: fixed;
    width: 100%;
    height: auto;
	margin-bottom:320px auto;
    transition: all 0.5s ease-in-out;
    font-weight: 400;
    background-color: gray;
}
.nav__list {
    display: flex;
    align-items: baseline;
    text-transform: uppercase;
    justify-content: space-around;
    flex-direction: row;
    padding: 1em 0.5em;
}

.nav__item {
    list-style-type: none;
}
ul{
  margin: 0;
  padding: 0;
}
